body{
    background-image: url(rick.png);
    background-size: cover;
}
#id{
    color: rgb(89, 255, 0);
    border: solid rgb(89, 255, 0) 3px;
}
#flecha{
    color: rgb(255, 255, 255);
    font-size: 40px;
}
#personaje{
    display: flex;
    flex-wrap: wrap;
}
#imagenes{
    width: 4rem;
}
#carouselExample{
    margin-left: 10rem;
}
#carousel_item{
    width: 50rem;
}
#img_principal{
    width: 30rem; 
    margin-left: 10rem; 
    margin-top:6rem
}
#carrusel_item{
    width: 50rem;
}
#tabla{
    width: 30rem; 
    margin-left: 10rem; 
    margin-top:6rem
}
@media only screen and (max-width: 440px){
    #carouselExample{
        margin-left: 0;
    }
    #carousel_item{
        width: 24rem;
    }
    #img_principal{
        width: 18rem;
        margin-left: 3rem; 
        margin-top: 3rem;
    }
    #carrusel_item{
        width: 24rem;
    }
    #tabla{
        width: 18rem;
        margin-left: 3rem; 
        margin-top: 3rem;
    }
}